{% extends 'index.html' %}
{% block adddata %}
    {% for i in buttons.objects %}
    <table class="table table-bordered mt-4">
        <form id="add_form" method="get">
            <tbody class="mt-0">
                <tr>
                    <th scope="col">Object</th>
                    <th scope="col">Type</th>
                    <th scope="col">Text</th>
                    <th scope="col">Title</th>
                    <th scope="col">Platform</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Updated at</th>
                    <th scope="col">ID</th>

                </tr>
                <tr>

                    <th scope="col"><input name = 'object' type="text" value="{{ i.object }}"></th>
                    <th scope="col"><input name = 'type' type="text" value="{{ i.type }}"></th>
                    <th scope="col"><input name = 'text' type="text"  value="{{ i.text }}"></th>
                    <th scope="col"><input name = 'title' type="text" value="{{ i.title }}"></th>
                    <th scope="col"><input name = 'platform' type="text" value="{{ i.platform }}"></th>
                    <th scope="col"><input name = 'created_at' type="text" value="{{ i.created_at }}"></th>
                    <th scope="col"><input name = 'updated_at' type="text" value="{{ i.updated_at }}"></th>
                    <th scope="col"><input name = 'id' type="text" value="{{ i.id }}"></th>
                </tr>
            </tbody>
        </form>
    </table>
    <button form="add_form" type="submit" class="btn btn-primary m-0">Подтвердить изменения</button>
    {% endfor %}

{% endblock %}


