{% extends 'index.html' %}
{% block adddata %}

{% for i in buttons.objects %}
    <div class="container mt-4">
        <form class="row g-3" method="get" id="add-form">
            <div class="col-md-6">
                <label for="Object" class="form-label">Object</label>
                <input type="text" class="form-control" id="Object" value="{{ i.object }}">
            </div>
            <div class="col-md-6">
                <label for="Type" class="form-label">Type</label>
                <input type="text" class="form-control" id="Type" value="{{ i.type }}">
            </div>
            <div class="col-md-6">
                <label for="Text" class="form-label">Text</label>
                <input type="text" class="form-control" id="Text" value="{{ i.text }}">
            </div>
            <div class="col-md-6">
                <label for="Title" class="form-label">Title</label>
                <input type="text" class="form-control" id="Title" value="{{ i.title }}">
            </div>
            <div class="col-md-6">
                <label for="Platform" class="form-label">Platform</label>
                <input type="text" class="form-control" id="Platform" value="{{ i.platform }}">
            </div>
            <div class="col-md-6">
                <label for="created_at" class="form-label">Created at</label>
                <input type="text" class="form-control" id="created_at" value="{{ i.created_at }}">
            </div>
            <div class="col-md-6">
                <label for="updated_at" class="form-label">Updated at</label>
                <input type="text" class="form-control" id="updated_at" value="{{ i.updated_at }}">
            </div>
            <div class="col-md-6">
                <label for="ID" class="form-label">ID</label>
                <input type="text" class="form-control" id="ID" value="{{ i.id }}">
            </div>
            <div class="col-12">
                <button type="submit" form="add-form" class="btn btn-primary">Добавить</button>
            </div>
        </form>
    </div>
{% endfor %}
{% endblock %}


